#вкл режим перенаправления запросов
RewriteEngine On

#если в директории есть папка, соответствующая адресу запроса, то отдать её в ответе
RewriteCond %{SCRIPT_FILENAME} !-d
#если в директории есть файл, соответствующий адресу запроса, то вернуть его в ответе
RewriteCond %{SCRIPT_FILENAME} !-f
#если файл или папка не найдены, то веб-сервер перенаправит запрос на скрипт index.php.
#при этом скрипту index.php будет передан в _GET['route']=[adress] со значением запрошенного адреса qwer.loc:8080/[adress].
#потому что $1 – это значение, выдернутое с помощью регулярки ^(.*)$. по маске  (.*) //типа первый нулевой элемент массива - найденная подстрока, первый элемент - то что в маске
#То есть вся адресная строка будет передана в этот GET-параметр.
RewriteRule ^(.*)$ ./index.php?route=$1 [QSA,L]